body {
    background-image: url(../images/4707034-abstrato-moderno-amarelo-gradiente-desaparecendo-circulos-fundo-grátis-vetor.jpg);


}

#centro {
    width: 500px;
    height: 500px;
    line-height: 50px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    border-radius: 10px;
    
    /* pura mágica */
    position: absolute;
    top: 50%; /* posiciona na metade da tela */
    margin-top: -250px; /* e retrocede metade da altura */
    left: 50%; /* posiciona na metade da tela */
    margin-left: -250px; /* e retrocede metade da largura */
  }

  @media (max-width: 900px) {
	#centro{
        width: 400px;
        height: 400px;
        line-height: 50px;
        text-align:center;
        background-color: rgba(255, 255, 255, 0.7);
        color: white;
        border-radius: 10px;

        position: absolute;
        top: 50%; /* posiciona na metade da tela */
        margin-top: -200px; /* e retrocede metade da altura */
        left: 50%; /* posiciona na metade da tela */
        margin-left: -200px; /* e retrocede metade da largura */
    }
